<div class="center_div">
    <h1>Listagem - Gerenciar Eventos</h1>
    <a href="#!/newEvent" type="button" class="btn btn-success">Novo Evento</a>
    <a href="#!/" type="button" class="btn btn-dark" >SAIR</a>
</div>


<div class="line"></div>

<div class="container">
    <div class="row">
        <div class="col-sm"><h3>Data</h3></div>
        <div class="col-sm"><h3>Local</h3></div>
        <div class="col-sm"> <h3>Responsavel</h3></div>
        <div class="col-sm"></div>
    </div>
       
    <div class="row" ng-repeat="evt in eventos">
        <div class="col-sm">{{evt.date}}</div>
        <div class="col-sm">{{evt.local}}</div>
        <div class="col-sm"> {{evt.responsavel}}</div>
        <div class="col-sm">
            <a href="#!/newEvent/{{evt.id}}" type="button" class="btn btn-primary" >Editar</a>
            <a ng-click="excluir(evt.id)" type="button" class="btn btn-danger">Excluir</a>
        </div>
    </div>

</div>