<div class="center_div">
    <h1>LOGIN - Gerenciar Eventos</h1>
</div>
    
<div class="line"></div>

<div class="container">
    <div class="row">
         <div class="md-12">
            <div class="form-group">
                <label for="user">Usuario: </label>
                <input type="text" class="form-control" id="user" ng-model="login.user" placeholder="nome do usuário">
            
                <label for="pass">Senha: </label>
                <input type="password" class="form-control" id="pass" ng-model="login.pass" placeholder="senha do usuário">
            </div>
            <button type="button" class="btn btn-dark" ng-click="logar()">Login</button>
            <a href="#!/newLogin" type="button" class="btn btn-success">New Login</a>
          </div>
    </div>
</div> 